@import "../../../css-config/mixins.scss";

.stories {
  margin-top: 20px;
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .stories-item {
      cursor: pointer;
      img {
        width: 200px;
      }
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ff6900 !important;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  transition: all 0.3s ease;
  &:active {
    transform: scale(0.9);
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 30px !important;
}
